<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

	<connectionStrings>
		<add name="Core" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Core;Integrated Security=False;User Id=sa;Password=wrongpassword;MultipleActiveResultSets=True"/>
	</connectionStrings>
</configuration>